*Note*: need to assume equal variance since we don't have user level data

Page_view: each time the page loads or the browser history state is changed by the active site

user_engagement: when the app is in the foreground or webpage is in focus for at least one second

session_start: when a user engages the app or website

first_visit: the first time a user visits a website or launches an Android instant app with Analytics enabled

scroll: the first time a user reaches the bottom of each page (i.e., when a 90% vertical depth becomes visible)

submit_feedback: when the user submits a form

click: each time a user clicks a link that leads away from the current domain

## Import Data

In [38]:
import pandas as pd
#all event data
all_events = pd.read_excel('ga_data/data_by_events.xlsx', sheet_name='all_by_event')

#version a event data
version_a_events = pd.read_excel('ga_data/data_by_events.xlsx', sheet_name='version_a_by_event')

#version b event data
version_b_events = pd.read_excel('ga_data/data_by_events.xlsx', sheet_name='version_b_by_event')

In [40]:
all_events

,Event name,Event count,Total users,Event count per active user,Bounce rate,Average engagement time per session,Average session duration,Engagement rate,Engaged sessions per active user,Events per session,Engaged sessions,Sessions per active user,Views per active user
0,page_view,263,115,2.307018,0.481752,0.000000,53.800386,0.518248,0.622807,1.919708,71,1.201754,2.307018
1,user_engagement,164,61,2.779661,0.184211,43.407895,275.341539,0.815789,1.050847,2.157895,62,1.288136,0.000000
2,session_start,141,115,1.247788,0.496454,0.000000,0.000000,0.503546,0.628319,1.000000,71,1.247788,0.000000
3,first_visit,118,114,1.053571,0.500000,0.000000,0.000000,0.500000,0.526786,1.000000,59,1.053571,0.000000
4,scroll,52,32,1.625000,0.114286,17.914286,42.959569,0.885714,0.968750,1.485714,31,1.093750,0.000000
5,submit_feedback,43,6,7.166667,0.166667,17.333333,417.030017,0.833333,0.833333,7.166667,5,1.000000,0.000000
6,click,1,1,1.000000,0.000000,40.000000,127.552674,1.000000,1.000000,1.000000,1,1.000000,0.000000

In [42]:
version_a_events

,Event name,Event count,Total users,Event count per active user,Bounce rate,Average engagement time per session,Average session duration,Engagement rate,Engaged sessions per active user,Events per session,Engaged sessions,Sessions per active user,Views per active user
0,page_view,150,61,2.459016,0.472222,0.000000,78.389093,0.527778,0.622951,2.083333,38,1.180328,2.459016
1,user_engagement,94,30,3.357143,0.179487,34.076923,316.262634,0.820513,1.142857,2.410256,32,1.392857,0.000000
2,session_start,74,59,1.275862,0.513514,0.000000,0.000000,0.486486,0.620690,1.000000,36,1.275862,0.000000
3,first_visit,60,58,1.052632,0.533333,0.000000,0.000000,0.466667,0.491228,1.000000,28,1.052632,0.000000
4,scroll,19,7,2.714286,0.222222,16.555556,32.082924,0.777778,1.000000,2.111111,7,1.285714,0.000000
5,submit_feedback,40,4,10.000000,0.250000,21.000000,374.033647,0.750000,0.750000,10.000000,3,1.000000,0.000000
6,click,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000

In [44]:
version_b_events

,Event name,Event count,Total users,Event count per active user,Bounce rate,Average engagement time per session,Average session duration,Engagement rate,Engaged sessions per active user,Events per session,Engaged sessions,Sessions per active user,Views per active user
0,page_view,113,67,1.712121,0.421053,0.000000,22.718924,0.578947,0.666667,1.486842,44,1.151515,1.712121
1,user_engagement,70,36,1.944444,0.170732,48.048780,209.554006,0.829268,0.944444,1.707317,34,1.138889,0.000000
2,session_start,67,58,1.175439,0.477612,0.000000,0.000000,0.522388,0.614035,1.000000,35,1.175439,0.000000
3,first_visit,58,57,1.035714,0.465517,0.000000,0.000000,0.534483,0.553571,1.000000,31,1.035714,0.000000
4,scroll,33,26,1.269231,0.076923,18.384615,46.724562,0.923077,0.923077,1.269231,24,1.000000,0.000000
5,submit_feedback,3,2,1.500000,0.000000,10.000000,503.022757,1.000000,1.000000,1.500000,2,1.000000,0.000000
6,click,1,1,1.000000,0.000000,40.000000,127.552674,1.000000,1.000000,1.000000,1,1.000000,0.000000

In [46]:
#version a rating data
version_a_ratings = pd.read_csv('ga_data/version_a_ratings.csv')

#version b rating data
version_b_ratings = pd.read_csv('ga_data/version_b_ratings.csv')

In [48]:
version_a_ratings

             timestamp  rate
0   4/19/2025 12:17:28     1
1   4/19/2025 15:12:28     4
2   4/19/2025 15:41:45     5
3   4/19/2025 16:04:16     4
4   4/19/2025 20:53:02     5
5   4/20/2025 14:45:45     5
6   4/21/2025 17:29:36     5
7   4/21/2025 17:32:22     5
8   4/21/2025 21:15:22     5
9    4/22/2025 1:35:32     3
10  4/22/2025 19:10:58     5

## Two-Proportion Z-Test (for proportions like Bounce/Engagement Rate)

In [36]:
# Z-test between number of users who scrolled on the site using version A/B
# whether a user scrolled or not is binary, so it is valid to use 2-prop z test 

scroll_a = version_a_events.at[4, 'Total users']
scroll_b = version_b_events.at[4, 'Total users']

z_statistic, p_value = ztest(count=scroll_a, nobs=scroll_b, value=bounce_a)
print(events[4], z_statistic, p_value)

scroll -77.37468646310082 0.0

## T-Test or Welch's T-Test (for means like avg session duration and user rating)

In [54]:
# Statistical test on user ratings 
from scipy import stats

print(stats.shapiro(version_a_ratings['rate']))
print(stats.shapiro(version_b_ratings['rate']))

ShapiroResult(statistic=0.661767669679997, pvalue=0.0001518814057219675)
ShapiroResult(statistic=0.9366220846809401, pvalue=0.6085084506120905)

In [56]:
# Since version a ratings' distribution is not normal, we cannot perform the t-test
# instead can do the Mann-Whitney U test

from scipy.stats import mannwhitneyu

stat, p = mannwhitneyu(version_a_ratings['rate'], version_b_ratings['rate'], alternative='two-sided')
print('test stat: ', stat)
print('p value: ', p)

test stat:  58.0
p value:  0.06856482928656356

In [ ]:
# due to the p-val > 0.05 we fail to reject the null hypothesis at 95% CI
# so no statistically significant difference between two groups ratings of the UI at this level 
# but we may conclude there is margin